---
name: chat
url: /chat
animationIn: zoomIn
---
<div class="grid-frame">
  <div zf-panel position="left" id="sidebar" class="medium-grid-block collapse medium-3 large-3 vertical">
    <div class="grid-content collapse shrink hide-for-medium">
      <a href="" class="secondary button expand" zf-close>Close</a>
    </div>
    <div class="grid-content collapse shrink">
      <ul class="menu-bar primary">
        <li class="medium-10"><img class="logo" src="../assets/img/logo-white-new.png"></li>
        <li class="medium-2"><a href="#"><img class="settings" zf-iconic="" icon="cog" size="small" class="iconic-color-primary"> </a></li>
      </ul>
    </div>
    <div class="grid-content">
      <section class="block-list">
        <ul>
          <li>
            <a href="#">
              <div class="chat-selector">
                <h5 class="chat-header">Jake</h5>
                <img class="chat-icon" zf-iconic="" icon="person" size="medium" class="iconic-color-primary">
                <small class="chat-preview">You: true dat man</small>
                <small class="chat-time">21:09</small>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="chat-selector">
                <h5 class="chat-header">Broda</h5>
                <img class="chat-icon" zf-iconic="" icon="person" size="medium" class="iconic-color-primary">
                <small class="chat-preview">You: Cool</small>
                <small class="chat-time">21:09</small>
              </div>
            </a>
          </li>
        </ul>
      </section>
    </div>
  </div>

  <div class="grid-block collapse medium-9 large-9 vertical">
    <div id="header" class="shrink collapse grid-content">
      <ul class="menu-bar primary">
        <li class="hide-for-medium small"><a zf-open="sidebar" href="#"><img zf-iconic="" icon="comment-square" size="small" class="settings iconic-color-primary"></a></li>
        <li class="medium-10" zf-open="info">
          <a class="conversation-header" href="#">
            Jake
            <!--<span class="status">last seen 45 minutes ago</span>-->
          </a>
        </li>
        <li class="small-1" zf-open="info">
          <a href="#">
            <img zf-iconic="" icon="document" size="small" class="settings iconic-color-primary">
            <!--<span class="status">last seen 45 minutes ago</span>-->
          </a>
        </li>
        <li class="small-1" zf-open="info">
          <a href="#">
            <img zf-iconic="" icon="cog" size="small" class="settings iconic-color-primary">
            <!--<span class="status">last seen 45 minutes ago</span>-->
          </a>
        </li>
      </ul>
    </div>
    <!--<h4><img zf-iconic="" icon="person" size="medium" class="iconic-color-primary"> Naved</h4>-->
    <div class="grid-block">
      <div class="grid-block small-12 medium-12 vertical">
        <div class="grid-block vertical gray-background">
          <div class="received-message">
            <img zf-iconic="" icon="person" size="medium" class="iconic-color-primary sender-icon">
            <div class="talk-bubble tri-right left-top received-message-margin-reduced">
              <div class="talktext">
                <p>Disa web looks awesome XP! Disa web looks awesome XP! Disa web looks awesome XP! Disa web looks awesome XP!</p>
              </div>
            </div>
            <small class="received-message-status">1m via Text</small>
          </div>
          <div class="sent-message">
            <div class="talk-bubble tri-right right-top inline-block status-padding-added">
              <div class="talktext status-padding-removed">
                <p>true dat man</p>
                <small class="text-status">Delivered</small>
              </div>
            </div>
            <p class="sent-message-status">1m via Text</p>
          </div>
          <div class="received-message">
            <img zf-iconic="" icon="person" size="medium" class="grid-block iconic-color-primary sender-icon">
            <div class="talk-bubble tri-right left-top received-message-margin-reduced">
              <div class="talktext">
                <p>Disa web looks awesome XP!</p>
              </div>
            </div>
            <small class="received-message-status">1m via Text</small>
          </div>
          <div class="sent-message">
            <div class="talk-bubble tri-right right-top inline-block status-padding-added">
              <div class="talktext status-padding-removed">
                <p>true dat man</p>
                <small class="text-status">Delivered</small>
              </div>
            </div>
            <p class="sent-message-status">1m via Text</p>
          </div>
          <div class="received-message">
            <img zf-iconic="" icon="person" size="medium" class="grid-block iconic-color-primary sender-icon">
            <div class="talk-bubble tri-right left-top received-message-margin-reduced">
              <div class="talktext">
                <p>Disa web looks awesome XP!</p>
              </div>
            </div>
            <small class="received-message-status">1m via Text</small>
          </div>
          <div class="sent-message">
            <div class="talk-bubble tri-right right-top inline-block status-padding-added">
              <div class="talktext status-padding-removed">
                <p>true dat man true dat man true dat man true dat man  true dat man true dat man true dat man</p>
                <small class="text-status">Delivered</small>
              </div>
            </div>
            <p class="sent-message-status">1m via Text</p>
          </div>
          <div class="received-message">
            <img zf-iconic="" icon="person" size="medium" class="grid-block iconic-color-primary sender-icon">
            <div class="talk-bubble tri-right left-top received-message-margin-reduced">
              <div class="talktext">
                <p>Disa web looks awesome XP!</p>
              </div>
            </div>
            <small class="received-message-status">1m via Text</small>
          </div>
          <div class="sent-message">
            <div class="talk-bubble tri-right right-top inline-block status-padding-added">
              <div class="talktext status-padding-removed">
                <p>true dat man</p>
                <small class="text-status">Delivered</small>
              </div>
            </div>
            <p class="sent-message-status">1m via Text</p>
          </div>
        </div>
        <div class="message-input grid-content collapse shrink">
              <span class="inline-label">
                <input type="text" placeholder="Message">
                <a href="#" class="button">Send</a>
              </span>
        </div>
      </div>
    </div>
  </div>

  <div zf-panel position="right" id="info" class="collapse medium-3 large-3 vertical">
    <div class="grid-content collapse shrink">
      <a href="" class="secondary button expand" zf-close>Close</a>
    </div>
    <div class="grid-content message-side-bar">
      <section class="block-list">
        <header>In This Room</header>
        <ul>
          <li><a href="#">Cady Heron</a></li>
          <li><a href="#">Kevin Gnapoor</a></li>
          <li><a href="#">Trang Pak</a></li>
          <li><a href="#">Coach Carr</a></li>
          <li><a href="#">Regina George</a></li>
        </ul>
      </section>
    </div>
  </div>
</div>



